header {
    background-color: white;
    height: 70px;
    width: 100%;
    bottom: 1px solid #cccccc;

}

.logo {
	width: 144px;
	height: 62px;
	background: url("images/logo.png") no-repeat center)
}
